.grow{
  animation-duration: 2s; 
  animation-name: grow; 
  animation-iteration-count: infinite; 
}

@keyframes grow {
   0% { transform: scale(0.9); }
   50% { transform: scale(0.8); }
   100% { transform: scale(0.9); } 
} 

.ghost{
    -webkit-animation: ghost 0.5s ease-out;
      animation-iteration-count: infinite; 
}

@-webkit-keyframes ghost {
    0% {display: none; opacity: .8; }

    50% {display: block; opacity: .9; }

    100% {display: block; opacity: .8; }
}

.link{
  color: lightskyblue
}

.link:hover{
  color: yellow;
}
    
h1{
  color: white;
  font-family: 'tahoma';
  font-size: xxx-large
}

h2{
  color: lightblue;
  font-family: 'tahoma';
  font-size: x-large
}

p{
  color: white;
    font-family: 'tahoma';
}

.button {
  border-radius: 2px;
  background-color:#E45D59;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-family: 'tahoma';
  font-size: medium;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0 auto
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.snow{
  position:fixed;
  pointer-events:none;
  top:0;
  left:0;
  right:0;
  bottom:0;
  height:100vh;
  background: none;
  background-image: url('https://s3-eu-west-1.amazonaws.com/static-ressources/s2.png'), url('https://s3-eu-west-1.amazonaws.com/static-ressources/s2.png'), url('https://s3-eu-west-1.amazonaws.com/static-ressources/s2.png')
  ;
  z-index:100;
  -webkit-animation: snow 10s linear infinite;
  animation: snow 10s linear infinite;
  opacity: 0.5;

}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}

.g-signin2{
  width: 100%;
}

.g-signin2 > div{
  margin: 0 auto;
}
